* {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    color: rgb(231, 237, 241);
}

@font-face {
    font-family: 'Sofia';
    src: url(Sofia-Regular.ttf)
}

body {
    background-image: url("night-background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

h1 {
    font-family: 'Sofia';
    font-size: 5em;
    margin-top: 1rem;
    margin-left: 3rem;
}

#firstGroup {
    display: flex;
    gap: 1em;
    align-items: center;
    justify-items: center;
    margin-top: 1.1rem;
}

#toggle {
    border-radius: 50%;
    background-color: rgb(0, 0, 96);
    box-shadow: 0 1px 2px 0px rgba(211, 211, 211, 0.705);
    border: outset;
    font-size: 0.8em;
    padding: 10px;
    margin: 0;
}

#toggle:hover {
    background-color: rgb(1, 1, 40);
    color: rgba(213, 227, 239, 0.904);
}

#toggle:active {
    transform: translateY(1px);
}

#search {
    border-radius: 5px;
    box-shadow: 0 4px 4px 0px rgba(211, 211, 211, 0.705);
    border: gray;
    outline: none;
    font-size: 1.4em;
    background-color: rgb(230, 230, 249);
    color: rgb(0, 0, 96);
    padding: 4px;
    margin-right: 10px;
    margin-left: 2.5rem;
    text-align: center;
}

::placeholder {
    color: rgb(128, 128, 128);
}

#submitBtn {
    border-radius: 5px;
    background-color: rgb(0, 0, 96);
    box-shadow: 0 1px 2px 0px rgba(211, 211, 211, 0.705);
    border: outset;
    font-size: 1.1em;
    padding: 5px;
}

#submitBtn:hover {
    background-color: rgb(1, 1, 40);
    color: rgba(213, 227, 239, 0.904);
}

#submitBtn:active {
    transform: translateY(1px);
}

#topGroup {
    display: flex;
    gap: 1em;
    align-items: baseline;
    margin-left: 2.5rem;
}

#city {
    margin-top: 0.7em;
    font-size: 2.8em;
}

#date {
    font-size: 1.2em
}

#bottomGroup {
    display: flex;
    gap: 1em;
    align-items: center;
    margin-left: 2.5rem;
}

#icon {
    height: 4em;
    background-color: rgb(222, 222, 228);
    background-size: cover;
    border-radius: 50%;
    opacity: 0.9;
}

#desc , #temp {
    font-size: 2.3em;
}

#moreInfo {
    margin-left: 2.5rem;
}

.moreInfo {
    font-size: 1.5em;
    margin-top: 4px;
    margin-bottom: 3px;
}

.moreInfoSmall {
    margin-left: 1.71em;
    margin-top: 3px;
}

#error {
    margin-left: 2.5rem;
}







